<%= form_for @instrument do |f| %>
  <div>
    <%= f.label :name %>:
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :group %>:
    <%= f.text_field :group %>
  </div>

  <div>
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <%= f.submit %>

<% end %>
