<h1>an Instrument</h1>

<p>
<%= @instrument.name %>
</p>

<p>
  <%= @instrument.group %>
</p>

<p>
  <%= @instrument.price %>
</p>

<%= link_to "Edit this instrument", edit_instrument_path(@instrument.id) %>
<%= link_to "Back to Instrument list", instruments_path %>
